@charset "UTF-8";

/* 全体や共通
------------------------------ */

* {
    box-sizing: border-box;
}

/* フォントサイズ */
html {
    font-size: 100%;
}

/* 行の高さ */
body {
    /* font-family: ; */
    line-height: 1.7;
    color: rgb(61, 59, 59);
}

/* a の下線 */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 画面からのはみ出し防止 */
img {
    max-width: 100%;
}

.section-h2 {
    margin-bottom: 70px;
    font-size: 2rem;
    border-bottom: 1px solid rgb(64, 63, 63);
    display: inline-block;
}

.wrapper {
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto;
    text-align: center;
}


/* header
------------------------------ */
#hdr {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.top-title {
    font-size: 2rem;
    width: 120px;
    margin-top: 2%;
}

.top-title a {
    font-display: block;
}

.main-nav {
    display: flex;
    /* margin-top: 30px;
    margin-right: 20px; */
}

.main-nav li {
    margin-left: 40px;
    
}

.main-nav li:visited {
    color: #666;
}

.main-nav li:hover {
    opacity: 0.7;
}

/* main
------------------------------ */



/* メインビジュアル 
*/

#mainvisual {
    /* background-color: #fbc3c3db; */
    margin-bottom: 6%;
}

/* ？？？ */
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/* 
About 
*/

#about h2 {
    align-items: center;
}

#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
}

.text {
    text-align: left;
}

#about p {
    padding-bottom: 2rem;
}


/* 
Bycycle 
*/

#bicycle {
margin: 0 auto;
text-align: center;
}

#bicycle ul{
/* column-count: 3; */
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#bicycle li {
    margin: 10px;
}


/* フッター
------------------------------ */
footer {
    font-size: 0.5rem;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
} 


/* 
ブレークポイント---------------------------
*/

@media (max-width: 600px) {
    
    .content {
        display: block;
    }
    /* 中央揃えにしたい */
    .text h3{
        justify-content: center;
        text-align: center;
        /* margin:　0 auto; */
    }
    .text p {
        text-align: center;
    }

    #bicycle .b-img{
        /* display: block; */
        flex-direction: column;
    }
}